/* form position to center */
.form {
    width: 35%;
    box-sizing: border-box;
    margin: 20px auto 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px gray;
}
.form-group-green, .form-group-default, .form-group 
{
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 5px;
}
#page-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
#page-title h4{
    font-weight: 400
}
#page-title hr{
    width: 80%;
    margin: 20px auto
}
input[type=text],input[type=email],input[type=password] 
{
    border-radius: 4px;
    border: 1px solid gray;
    line-height: 30px;
    padding: 5px;
    background: white !important;
}
.form-group input[type=button], .form-group-green button {
    height: 40px;
    width: 100%;
    padding: 5px;
    background: #449d48;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    box-shadow: 1px 2px 1px rgb(148, 142, 142)
}
.form-group-default button
{
    height: 40px;
    width: 100%;
    padding: 5px;
    background: #f1f5f1;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: green;
    border: 2px solid green;
    text-transform: capitalize;
    font-size: 20px;
}
.form-group input[type=button]:hover, .form-group-green button:hover
{
    box-shadow: 1px 2px 1px rgb(79, 105, 7)
}
.form-group-default button:hover 
{
    background: #449d48;
    color: #f1f5f1
}
@media screen and (max-width: 950px) {
    .form {
        width: 60%
    }
    #form-group {
        width: 90%
    }
}
@media screen and (max-width: 450px) {
    .form {
        width: 95%;
        padding: 10px
    }
    #form-group {
        width: 100%
    }
}